@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  background-color: olive;
  font-family: "Roboto", sans-serif;
}
.inputbox > input {
    width: 40%;
    padding: 10px;
    font-size: 18px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.507);
    outline: none;
    border: 1px solid black;
    border-radius: 5px;

}
.inputbox > input::placeholder{
  font-size: 18px;
}
h1{
  margin-top: 1rem;
  color: aliceblue;
}